openapi: 3.0.3
info:
  title: Google Calendar (Reflector subset)
  version: v3
  description: >
    A narrowed, read-only subset of the Google Calendar API (googleapis.com
    calendar v3) covering what Reflector needs to reflect a user's calendars
    and their events: list/read of calendar list entries, and list/read of
    events on a calendar. The full document is published by Google and
    mirrored on apis.guru; only the paths and schemas used here are vendored.
    The completing overlays (auth / pagination / crud-causality) are applied
    from spec/google-calendar/overlays at startup. Unlike GitHub, this
    platform is read-only: Reflector never creates, updates or deletes
    calendar data.
servers:
  - url: https://www.googleapis.com/calendar/v3
components:
  securitySchemes:
    googleToken:
      type: http
      scheme: bearer
      description: >
        An OAuth 2.0 access token for a scope covering calendar read access
        (e.g. https://www.googleapis.com/auth/calendar.readonly), sent as
        `Authorization: Bearer <token>`. Reflector does not run the OAuth
        flow itself — the token is supplied as deployment configuration,
        already obtained (and, if it expires, refreshed) out of band.
  schemas:
    calendar-list-entry:
      type: object
      description: >
        An entry on the authenticated user's calendar list — how Reflector
        discovers which calendars exist, since Google Calendar has no
        "list all calendars" operation.
      properties:
        id:
          type: string
          description: Calendar identifier, usable as `calendarId` elsewhere.
        summary:
          type: string
          description: Title of the calendar.
        description:
          type: string
        timeZone:
          type: string
          description: IANA time zone, e.g. "Europe/Zurich".
        primary:
          type: boolean
          description: Whether this is the authenticated user's primary calendar.
        accessRole:
          type: string
          enum: [freeBusyReader, reader, writer, owner]
        backgroundColor:
          type: string
    event-date-time:
      type: object
      description: >
        Either a date (all-day event) or a date-time-with-time-zone, per
        Google's convention of splitting the two into distinct fields.
      properties:
        date:
          type: string
          format: date
        dateTime:
          type: string
          format: date-time
        timeZone:
          type: string
    event-attendee:
      type: object
      properties:
        email:
          type: string
        displayName:
          type: string
        organizer:
          type: boolean
        responseStatus:
          type: string
          enum: [needsAction, declined, tentative, accepted]
    event-person:
      type: object
      description: The organizer or creator of an event.
      properties:
        email:
          type: string
        displayName:
          type: string
        self:
          type: boolean
    event:
      type: object
      description: An event on a calendar.
      properties:
        id:
          type: string
          description: Opaque event identifier, unique within its calendar.
        status:
          type: string
          enum: [confirmed, tentative, cancelled]
        htmlLink:
          type: string
          format: uri
        summary:
          type: string
        description:
          type: string
        location:
          type: string
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        start:
          $ref: '#/components/schemas/event-date-time'
        end:
          $ref: '#/components/schemas/event-date-time'
        recurringEventId:
          type: string
          description: Set on an instance of a recurring event, naming the series.
        organizer:
          $ref: '#/components/schemas/event-person'
        creator:
          $ref: '#/components/schemas/event-person'
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/event-attendee'
paths:
  /users/me/calendarList:
    get:
      operationId: calendarList-list
      summary: List the authenticated user's calendars
      parameters:
        - name: maxResults
          in: query
          required: false
          schema: { type: integer, default: 100 }
        - name: pageToken
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: A page of calendar list entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPageToken:
                    type: string
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/calendar-list-entry'
  /users/me/calendarList/{calendarId}:
    get:
      operationId: calendarList-get
      summary: Get one calendar list entry
      parameters:
        - name: calendarId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The calendar list entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calendar-list-entry'
  /calendars/{calendarId}/events:
    get:
      operationId: events-list
      summary: List events on a calendar
      parameters:
        - name: calendarId
          in: path
          required: true
          schema: { type: string }
        - name: maxResults
          in: query
          required: false
          schema: { type: integer, default: 250 }
        - name: pageToken
          in: query
          required: false
          schema: { type: string }
        - name: singleEvents
          in: query
          required: false
          description: >
            Expand recurring events into their individual instances rather
            than returning the recurring series itself.
          schema: { type: boolean, default: true }
        - name: orderBy
          in: query
          required: false
          schema: { type: string, enum: [startTime, updated] }
        - name: timeMin
          in: query
          required: false
          schema: { type: string, format: date-time }
        - name: timeMax
          in: query
          required: false
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: A page of events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPageToken:
                    type: string
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/event'
  /calendars/{calendarId}/events/{eventId}:
    get:
      operationId: events-get
      summary: Get a single event
      parameters:
        - name: calendarId
          in: path
          required: true
          schema: { type: string }
        - name: eventId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
