openapi: 3.0.3
info:
  title: GitHub Issues (Reflector subset)
  version: 1.1.4
  description: >
    A narrowed subset of the GitHub REST API (api.github.com 1.1.4) covering
    just what Reflector needs to reflect issues and their comments between two
    repositories: list/create/read/update of issues, and list/create/read/
    update/delete of issue comments. The full document lives in GitHub's
    rest-api-description; only the paths and schemas used here are vendored.
    The completing overlays (auth / pagination / crud-causality) are applied
    from spec/overlays/github at startup.
servers:
  - url: https://api.github.com
components:
  securitySchemes:
    githubToken:
      type: http
      scheme: bearer
      description: >
        A GitHub personal-access or installation token, sent as
        `Authorization: Bearer <token>`. Supplied to Reflector as config, not
        obtained through an interactive OAuth flow.
  schemas:
    issue:
      type: object
      description: An issue in a repository.
      properties:
        id:
          type: integer
          format: int64
          description: Globally-unique database id (not the URL identity).
        number:
          type: integer
          description: Per-repository issue number; the URL identity.
        title:
          type: string
        body:
          type: string
          nullable: true
        state:
          type: string
          enum: [open, closed]
        state_reason:
          type: string
          nullable: true
        updated_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/user'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/label'
    issue-comment:
      type: object
      description: A comment on an issue.
      properties:
        id:
          type: integer
          format: int64
          description: Globally-unique comment id; the URL identity.
        body:
          type: string
        updated_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/user'
    user:
      type: object
      description: The GitHub user that authored an issue or comment.
      properties:
        id:
          type: integer
          format: int64
        login:
          type: string
        avatar_url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
    label:
      type: object
      description: A label attached to an issue.
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        color:
          type: string
        description:
          type: string
          nullable: true
paths:
  /repos/{owner}/{repo}/issues:
    get:
      operationId: issues-list-for-repo
      summary: List repository issues
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: per_page
          in: query
          required: false
          schema: { type: integer, default: 30 }
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1 }
      responses:
        '200':
          description: A page of issues (a top-level array).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/issue'
    post:
      operationId: issues-create
      summary: Create an issue
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                body: { type: string }
      responses:
        '201':
          description: The created issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
  /repos/{owner}/{repo}/issues/{issue_number}:
    get:
      operationId: issues-get
      summary: Get an issue
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: issue_number
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: The issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
    patch:
      operationId: issues-update
      summary: Update an issue (e.g. open/close)
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: issue_number
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                body: { type: string }
                state: { type: string, enum: [open, closed] }
                state_reason: { type: string }
      responses:
        '200':
          description: The updated issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
  /repos/{owner}/{repo}/issues/{issue_number}/comments:
    get:
      operationId: issue-comments-list
      summary: List comments on an issue
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: issue_number
          in: path
          required: true
          schema: { type: integer }
        - name: per_page
          in: query
          required: false
          schema: { type: integer, default: 30 }
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1 }
      responses:
        '200':
          description: A page of comments (a top-level array).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/issue-comment'
    post:
      operationId: issue-comments-create
      summary: Create a comment on an issue
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: issue_number
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '201':
          description: The created comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue-comment'
  /repos/{owner}/{repo}/issues/comments/{comment_id}:
    get:
      operationId: issue-comment-get
      summary: Get a single issue comment
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: comment_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: The comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue-comment'
    patch:
      operationId: issue-comment-update
      summary: Update an issue comment
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: comment_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '200':
          description: The updated comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue-comment'
    delete:
      operationId: issue-comment-delete
      summary: Delete an issue comment
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
        - name: comment_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Deleted.
